<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--Local-->
    <add name="cs_MvcPractice" connectionString="Data Source=USER-UNKNOWN\MSSQLSERVER14;Initial Catalog=MvcPractice;Integrated Security=True;User ID=sa;Password=owais12345;Trusted_Connection=False;" providerName="System.Data.SqlClient" />
<add name="MvcPracticeEntities" connectionString="metadata=res://*/DBEntities.MvcPractice.csdl|res://*/DBEntities.MvcPractice.ssdl|res://*/DBEntities.MvcPractice.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USER-UNKNOWN\MSSQLSERVER14;initial catalog=MvcPractice;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>